[Download]
download_directory = ./feeds/

[Unzip]
# will be unzipped to appropriate subfolders e.g. ./feeds/RJFA/
unzip_directory = ./feeds/

[CSV]
# no subfolders created here
csv_directory = ./csv/
